<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="closeModal()">
          <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
  </ion-buttons>
    <ion-title>Recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <b>Potatoes:</b>
              </div>
            </ion-col>
            <ion-col>
              <div>
                {{ potatoes }}g
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <b>Salt:</b>
              </div>
            </ion-col>
            <ion-col>
              <div>
                {{ salt }}g
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>  
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <b>Pepper:</b>
              </div>
            </ion-col>
            <ion-col>
              <div>
                {{ pepper }}g
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>  
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <b>Mustard:</b>
              </div>
            </ion-col>
            <ion-col>
              <div>
                {{ mustard }}g
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>  
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <b>Vinegar:</b>
              </div>
            </ion-col>
            <ion-col>
              <div>
                {{ vinegar }}g
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>  
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <b>Onions:</b>
              </div>
            </ion-col>
            <ion-col>
              <div>
                {{ onion }}g
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>  
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <b>Oil:</b>
              </div>
            </ion-col>
            <ion-col>
              <div>
                {{ oil }}g
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>  
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <b>Broth:</b>
              </div>
            </ion-col>
            <ion-col>
              <div>
                {{ broth }}g
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>  
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>