<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="closeModal()">
          <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
  </ion-buttons>
    <ion-title>{{ 'recipe.recipe' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <b>{{ 'recipe.potatoes' | translate }}:</b>
              </div>
            </ion-col>
            <ion-col>
              <div>
                {{ potatoes }}g
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <b>{{ 'recipe.salt' | translate }}:</b>
              </div>
            </ion-col>
            <ion-col>
              <div>
                {{ salt }}g
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>  
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <b>{{ 'recipe.sugar' | translate }}:</b>
              </div>
            </ion-col>
            <ion-col>
              <div>
                {{ sugar }}g
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>  
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <b>{{ 'recipe.pepper' | translate }}:</b>
              </div>
            </ion-col>
            <ion-col>
              <div>
                {{ pepper }}g
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>  
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <b>{{ 'recipe.mustard' | translate }}:</b>
              </div>
            </ion-col>
            <ion-col>
              <div>
                {{ mustard }}g
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>  
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <b>{{ 'recipe.vinegar' | translate }}:</b>
              </div>
            </ion-col>
            <ion-col>
              <div>
                {{ vinegar }}g
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>  
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <b>{{ 'recipe.onions' | translate }}:</b>
              </div>
            </ion-col>
            <ion-col>
              <div>
                {{ onion }}g
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>  
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <b>{{ 'recipe.oil' | translate }}:</b>
              </div>
            </ion-col>
            <ion-col>
              <div>
                {{ oil }}g
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>  
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <b>{{ 'recipe.broth' | translate }}:</b>
              </div>
            </ion-col>
            <ion-col>
              <div>
                {{ broth }}g
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>  
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ 'recipe.preparation' | translate }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ 'recipe.text' | translate }}
    </ion-card-content>

  </ion-card>

</ion-content>